//
//  ALL LIBRARY
//


// CINDER
CINDER_PATH = ../..
HEADER_CINDER = $(CINDER_PATH)/include
LIB_PATH_CINDER = $(CINDER_PATH)/lib $(CINDER_PATH)/lib/macosx
LDFLAG_CINDER_D = -lcinder_d -lz
LDFLAG_CINDER_R = -lcinder -lz

// boost
HEADER_BOOST = $(CINDER_PATH)/boost

// boost iostream
LDFLAG_BOOST_IOSTREAMS = -lboost_iostreams

// Cairo
HEADER_CAIRO = $(CINDER_PATH)/blocks/Cairo/include/macosx $(CINDER_PATH)/blocks/Cairo/include
LIB_PATH_CAIRO = $(CINDER_PATH)/blocks/Cairo/lib/macosx
LDFLAG_CAIRO = -lcairo -lpixman-1 -lpng16

// OpenCV
HEADER_CV = $(CINDER_PATH)/blocks/OpenCV/include/opencv2 $(CINDER_PATH)/blocks/OpenCV/include
LIB_PATH_CV = $(CINDER_PATH)/blocks/OpenCV/lib/macosx/
LDFLAG_CV = -lopencv_calib3d -lopencv_contrib -lopencv_core -lopencv_features2d -lopencv_flann -lopencv_gpu -lopencv_imgproc -lopencv_legacy -lopencv_ml -lopencv_nonfree -lopencv_objdetect -opencv_ocl -lopencv_photo -lopencv_stitching -lopencv_superres -lopencv_ts -lopencv_video -lopencv_videostab

HEADER_CV3 = $(CINDER_PATH)/blocks/Cinder-OpenCV3/include
LIB_PATH_CV3 = $(CINDER_PATH)/blocks/Cinder-OpenCV3/lib/macosx/
LDFLAG_CV3 = -lippicv -lopencv_calib3d -lopencv_core -lopencv_features2d -lopencv_flann -lopencv_hal -lopencv_highgui -lopencv_imgcodecs -lopencv_imgproc -lopencv_ml -lopencv_objdetect -lopencv_photo -lopencv_shape -lopencv_stitching -lopencv_superres -lopencv_ts -lopencv_video -lopencv_videoio -lopencv_videostab

//LDFLAG_CV3 = -lippicv -lopencv_core -lopencv_hal -lopencv_imgproc -lopencv_features2d

// CSound
HEADER_CSOUND = /Library/Frameworks/CsoundLib64.framework/Headers
LIB_PATH_CSOUND = /Library/Frameworks/CsoundLib64.framework/Versions/6.0
LDFLAG_CSOUND = -lcsnd6.6.0


// libsnd
HEADER_SNDFILE = $(CINDER_PATH)/blocks/libsndfile
LIB_PATH_SNDFILE = $(CINDER_PATH)/blocks/libsndfile
LDFLAG_SNDFILE = -lsndfile

// libmtb
HEADER_MTB = $(CINDER_PATH)/blocks/libmtb_0.9.6

// TBB
HEADER_TBB = $(CINDER_PATH)/blocks/tbb/include
LIB_PATH_TBB = $(CINDER_PATH)/blocks/tbb/lib/libc++
LDFLAG_TBB = -ltbb

// PCL
HEADER_PCL = /usr/local/include/pcl-1.6 /opt/local/include/eigen3 /opt/local/include
LIB_PATH_PCL =  /opt/local/lib /usr/local/lib
LDFLAG_PCL =  -lpcl_common -lpcl_io -lpcl_io_ply -lpcl_features -lpcl_search -lpcl_keypoints -lpcl_kdtree -lflann -lflann_cpp -lqhull
// -lpcl_octree -lpcl_registration -lpcl_sample_consensus -lpcl_apps -lpcl_surface -lpcl_tracking  -lpcl_visualization  -lpcl_filters -lpcl_geometry -lpcl_segmentation

// DEFAULT
HEADER_DEF = $(HEADER_CINDER) $(HEADER_BOOST) $(HEADER_CV3) $(HEADER_MTB)
LIB_PATH_DEF = $(LIB_PATH_CINDER) $(LIB_PATH_CV3)
LDFLAG_DEF_D = $(LDFLAG_CINDER_D) $(LDFLAG_CV3)
LDFLAG_DEF_R = $(LDFLAG_CINDER_R) $(LDFLAG_CV3)

LD_RUNPATH_SEARCH_PATHS = /usr/local/lib /opt/local/lib